.console-container {
    width: 100%;
    height: 62vh;
}

.console-layout {
    margin-top: 16px;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr max-content;
    grid-auto-columns: 1fr;
    gap: 0.7em 1.3em;
    grid-auto-flow: row;
    grid-template-areas:
    "console settings"
    "input settings";
}

.console-layout .console {
    grid-area: console;
    width: 100%;
    height: 100%;
    background: var(--bg-dark-accent);
    border-radius: 10px;
    padding: 12px;
    overflow-y: auto;
}

.console-layout .console * {
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-size: 11pt;
}

.console-layout .input {
    grid-area: input;
    display: flex;
    align-items: center;
    justify-content: center;
}

.console-layout .input button {
    height: 48px;
}

.console-layout .input input {
    flex-grow: 1;
    margin-right: 8px;
    height: 48px;
}

.console-layout .settings {
    grid-area: settings;
}

.console-layout .settings .layout-accent-box:not(:first-child) {
    margin-top: 8px;
}

.console-layout .settings .layout-accent-box .lds-spinner {
    width: 100px;
    height: 100px;
}

.console-layout .settings .layout-accent-box .lds-spinner * {
    width: 64px;
    height: 64px;
}

.console-layout .settings .layout-accent-box .lds-spinner * {
    border-color: var(--bg-dark-accent-light) transparent transparent transparent;
}

.console-layout .settings .layout-accent-box .desc-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 6px;
}

.console-layout .settings .layout-accent-box .desc-text * {
    margin: 4px 0;
}
@media (max-width: 1360px) {
    .main-layout .sidebar {
        position: absolute;
        left: 16px;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 4;
        width: max-content;
        height: max-content;
        margin: auto 0;
    }

    .main-layout .sidebar:not(.minimized) #close-btn {
        display: block !important;
    }

    .main-layout .sidebar.minimized {
        display: none;
    }

    .main-layout .header #menu-btn {
        display: block !important;
    }

    .main-layout {
        grid-template-columns: 8px 1fr 8px !important;
        grid-template-areas:
                "header header header"
                ". content-header ."
                ". content ." !important;
    }

    .ksettings-container table {
        width: 90vw !important;
    }
}

@media (max-width: 600px) {

    /* Content-header fixes */
    .content-header > .icon-bg {
        display: none !important;
    }

    .content-header {
        width: 105vw !important;
        grid-gap: 0 1em !important;
        grid-template-columns: max-content 1fr !important;
        grid-template-areas: "caption actions"
    "status actions" !important;
    }

    /* File manager fixes */
    .fm-container .fileEditor {
        width: 100% !important;
        height: 100% !important;
    }

    .fm-container .table-container {
        width: 95vw !important;
    }

    .fm-container #fm-table tr td:nth-child(3),
    .fm-container #fm-table tr td:nth-child(4) {
        display: none;
    }

    .fm-container .title {
        display: none;
    }

    .fm-container {
        grid-template-columns: 1fr;
        grid-template-areas: "actions"
    "breadcrumb"
    "table" !important;
    }

    /* Plugins page fixes */
    .plugins-container {
        flex-direction: column !important;
        overflow-y: auto;
    }

    .plugins-container .panel {
        height: 50vh;
    }

    .plugins-container .panel .header {
        width: 80vw;
    }

    .plugins-container .panel .header h2 {
        flex-grow: 1;
    }

    /* Server settings fixes */
    .ssettings-container table {
        width: 93vw !important;
    }

    .ssettings-container table input[type="number"] {
        width: 30vw !important;
    }

    /* Server.properties fixes */
    .speditor-container .tableWrapper,
    .speditor-container #sp-table {
        width: 93vw !important;
    }

    /* Kubek settings fixes */
    .ksettings-container .tablesWrapper,
    .ksettings-container table {
        width: 93vw !important;
    }

    .ksettings-container table .iconBg {
        background: transparent !important;
    }

    .ksettings-container .footer {
        width: 93vw !important;
    }

    .userEditModal {
        width: 100vw !important;
        height: 100vh !important;
    }

    /* System monitor fixes */
    .sysmon-container {
        width: 100vw !important;
    }

    .sysmon-container table {
        width: 93vw !important;
    }

    /* Console fixes */
    .console-layout {
        grid-template-columns: 1fr max-content 1fr !important;
        grid-template-rows: 60vh max-content max-content !important;
        grid-template-areas: "console console console"
    "input input input"
    ". settings ." !important;
    }

    .console-layout .settings {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        grid-area: unset     !important;
    }

    .console-layout .settings .layout-accent-box {
        width: 40vw !important;
        margin: 0 4px !important;
        gap: 1em !important;
        display: flex !important;
    }

    .console-layout .console,
    .console-layout .input,
    .console-layout .settings {
        width: 94vw !important;
    }

    /* Login page fixes */
    .login-modal {
        width: 100vw !important;
        height: 100vh !important;
        border-radius: 0 !important;
    }

    .login-modal .left {
        width: 100% !important;
        align-items: center;
        justify-content: center;
    }

    .login-modal #login-btn {
        width: 100%;
    }

    .login-modal .right {
        display: none !important;
    }

    .login-modal .grow {
        display: none !important;
    }

    /* Alert fixes */
    .alert {
        max-width: 90vw;
    }
}

